{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
<div id="app" class="sm:mt-0 px-6">
    <div class="md:grid md:grid-cols-6 md:gap-6 md:grid-rows-2 md:mt-5">

        <div class="md:col-start-1 md:col-end-7">
            <p class="text-center mt-1 font-mono text-xl font-bold relative">Registrar Usuario Nuevo</p>
            <div class="grid gap-6 mb-8">
                <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 md:h-72">
                    <div style="position:relative" class='min-w-0 p-4 rounded-lg shadow-xs dark:bg-gray-800 md:h-72'>
                        {{ form_start(form, { 'attr':{'id':'form-uploader'} }) }}
                        {{ form_row(form.name_user, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }}
                        <div style="position:relative;left: 160px;bottom: 36px;">
                        {{ form_row(form.lastname_user,  { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1 absolute'} }) }}
                        </div>
                        {{ form_row(form.email_user, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }}
                        <div style="position:relative; left: 235px; bottom: 36px;">
                        {{ form_row(form.age_user, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }}                        
                        </div>
                         <div style="position:relative; left: 0; bottom: 36px;">
                        {{ form_row(form.pass_user, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }}
                        {{ form_row(form.fkGender, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }} 
                        {{ form_row(form.fkRoles, { 'attr':{'class':'border-solid border-2 border-blue-400 rounded-lg m-1'} }) }}
                        {{ form_row(form.picture_user, { 'attr':{'class':'m-1'} }) }}
                        {{ form_end(form) }}
                        </div>
                        <div style="position:absolute; left:700px; bottom: 260px;">
                            <div id="preview" style="display: inline-block;position: absolute; width: 200px;height: 200px;overflow: hidden;"><p>Previsualizacion de Imagen</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById("form-uploader").onchange = function(e) {
  let reader = new FileReader();
  reader.readAsDataURL(e.target.files[0]);
  reader.onload = function(){
    let preview = document.getElementById('preview'),
            image = document.createElement('img');

    image.src = reader.result;

    preview.innerHTML = '';
    preview.append(image);
  };
}
</script>
{% endblock %}